@model WebBroasteria.Models.Ventum

@{
    ViewData["Title"] = "Detalle de Venta";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Venta: @Model.NumeroDocumento</h4>
    <dl class="dl-horizontal">
        <dt>Tipo Documento</dt>
        <dd>@Model.TipoDocumento</dd>

        <dt>Documento Cliente</dt>
        <dd>@Model.DocumentoCliente</dd>

        <dt>Nombre Cliente</dt>
        <dd>@Model.NombreCliente</dd>

        <dt>Monto Total</dt>
        <dd>@Model.MontoTotal</dd>

        <dt>Detalles</dt>
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>SubTotal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var detalle in Model.DetalleVenta)
                    {
                        <tr>
                            <td>@detalle.IdProductoNavigation.Nombre</td>  <!-- Accediendo al nombre del producto -->
                            <td>@detalle.Cantidad</td>
                            <td>@detalle.SubTotal</td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>